@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
    margin: 0em;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 3.8em;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul {
    display: inline;
    height: 2em;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 0.4em;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 1.2em;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 0.4em;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}


.grid .header {
    grid-area: header;
    display: inline;
}

.grid .header img {
    width: 9em;
    float: left;
    padding-left: 5em;
}

.grid .header h1 {
    font-size: 3em;
    color: var(--titulos);
    width: fit-content;
    float: right;
    padding-right: 1.7em;
    padding-top: 0.55em;
}

.grid .adopt{
    grid-area: adopt;
    background: var(--parrafos);
    color: var(--fondo);
    column-count: 3;
    column-gap: 2em;
    padding: 1em;
    width: fit-content;
}

.grid .adopt h2{
    padding-left: 0.6em;
    font-size: 2.5em;
}
.grid .adopt p{
    padding: 0.5em;
    font-size: 1.3em;
}

.grid .album{
    grid-area: album;
    background: var(--parrafos);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18.75em,1fr));
    gap: 0.625em;
    width: 80em;
}

.grid .album img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid .album p {
    width: fit-content;
   color: var(--fondo);
   font-size: 1.2em;
   text-align: center;
   padding: 0.625em;
   
}

.grid .aside1{
    grid-area: aside1;
    width: 46em;
    display: flex; 
    flex-wrap: nowrap;
    grid-template-columns: repeat(13, auto);
    gap: 0.625em;
    overflow: auto;
    scroll-snap-type: x mandatory;
    
    
} 

.grid .aside1 article {
    flex:1 0 auto;
    width: 15em;
    height: 42.5em;
    object-fit: cover;
    background-color: var(--subtitulos);
    display: block;
}

.grid .aside1 article img{
    width: 100%;
    height: 20em; 
    left: 0;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: start;
}

.grid .aside1 article h4{
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: var(--fondo);
    padding-top: 1.1em;
    text-align: center;
}

.formu {
    width:28em;
    height: auto;
	padding: 2.5em;
	border: radius 0.625em;
	background-color:#765827;
    margin-bottom: 10px ;
}
 .formu h1{
    color: #efe1cf;
    font-size: 30px;
 }

 .formu legend{
    color: #efe1cf;
    font-size: 20px;
 }

.formu label{
	width:180px;
	font-weight:bold;
	display:inline-block;
}

#mascota{
    width:180px;
	font-weight:bold;
	display:inline-block;
}

#dni {
    width:180px;
	font-weight:bold;
	display:inline-block;
}


.formu form input[type="text"],
.formu form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #0c0c0c;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:1px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #fffcfc;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#4d37177a;
} 


form input[type="submit"]:hover{
	cursor:pointer;
}

#textarea{
	width:100%;
	height:100px;
	border:1px solid #111111;
	border-radius:3px;
	background-color:#C8AE7D;			
	margin:15px 0;
	resize:none;
	display:block;

}


footer {
     background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 18px;
    display: inline-flex;
    padding: 4px 0px;
    align-items: center;
}

footer #imgFooter {
    float: left;
    width: auto;
    height: 140px;
    margin-right: 50px;
}

footer #nuestrosDatos ul {
    display: inline;
    padding: 0px;
}

footer #nuestrosDatos ul li {
    display: block;
}

footer #redes {
    display: inline;
    text-align: center;
    width: 400px;
    margin-right: 50px;
}

footer #redes img {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer #redes p {
    display: inline-block;
}
footer {
    background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 1.2em;
    display: inline-flex;
    padding: 0.3em 0em;
    align-items: center;
}

footer #imgFooter {
    float: left;
    width: auto;
    height: 8.8em;
    margin-right: 3em;
}

footer #nuestrosDatos {
    width: 25em;
}

footer #nuestrosDatos ul {
    display: inline;
    padding: 0em;
}

footer #nuestrosDatos ul li {
    display: block;
}

footer #nuestrosDatos ul li a {
    text-decoration: none;
    color: var(--hover);
}

footer #nuestrosDatos .horarios > li {
    padding-left: 1.5em;
    font-size: 1em;
}


footer #redes {
    display: inline;
    text-align: center;
    width: 37.5em;
    margin: 0em 3em;
}

footer #redes img {
    display: inline-block;
    width: 2em;
    height: 2em;
    padding: 0.3em;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
}

footer #redes p {
    display: inline-block;
}

.grid {
    width: 80em;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
                         "adopt adopt adopt"
                         "album album album"
                         "aside1 aside1 formu"
                         "aside1 aside1 formu";                ;  
    margin: auto;
}