@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
    margin: 0px;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 55px;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul {
    display: inline;
    height: 2em;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 0.4em;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 1.2em;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 0.4em;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}

.grid .header {
    grid-area: header;
    display: inline;
}

.grid .header img {
    width: 150px;
    float: left;
    padding-left: 5em;
}

.grid .header h1 {
    font-size: 3em;
    color: var(--titulos);
    width: fit-content;
    float: right;
    padding-right: 1.7em;
    padding-top: 0.55em;
}

.adopt{
    background: #261908;
    color:#efe1cf;
    column-count: 3;
    column-gap: 30px;
}

.adopt h2{
    padding-left: 0.6em;
    font-size: 1,5em;
}
.adopt p{
    padding: 0,5em;
}

.album{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
}

.fotos {
    overflow: hidden;
}

.fotos img{
    width: 100%;
    height: auto;
    display: block;
}

.fotos p {
   background:#261908;
   color:#C8AE7D
}



footer {
     background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 18px;
    display: inline-flex;
    padding: 4px 0px;
    align-items: center;
}

footer #imgFooter {
    float: left;
    width: auto;
    height: 140px;
    margin-right: 50px;
}

footer #nuestrosDatos ul {
    display: inline;
    padding: 0px;
}

footer #nuestrosDatos ul li {
    display: block;
}

footer #redes {
    display: inline;
    text-align: center;
    width: 400px;
    margin-right: 50px;
}

footer #redes img {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer #redes p {
    display: inline-block;
}


