@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
    margin: 0px;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 55px;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
header ul {
    display: inline;
    height: 44px;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 20px;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 11px;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}


.grid .header {
    grid-area: header;
    display: inline;
}

.grid .header .empleado {
    width: 400px;
    padding-left: 10px;
    display: inline-block;
}

.grid .header .empleado img {
width: 400px;
}
.grid .conten {
    background-color: #310505;
    grid-area: conten;
    box-shadow: 5px 5px 40px 30px var(--parrafos), inset 0px 2px #261908;
}

.grid .conten{
    grid-area: content ;
    display: inline;
    grid-template-columns: ;
    grid-gap: 10px;
}

.grid .conten .empleado {
    border: 10px solid var(--titulos);
    width: 400px;
    height: 500px;
    text-align: center;
    overflow: hidden;
    background-color: var(--hover);
    display: inline-block;
}

.grid .conten .empleado img{
    width: 350px;
    height: 190px;
    overflow-x: hidden;
    object-position: center;
    padding: 3% 0px;
    
}

.grid .conten .empleado h4{
    color: var(--subtitulos);
    font-family: 'Comfortaa', cursive;
    padding-bottom: 1%;
}

.grid .conten .empleado p {
    padding-bottom: 3%;
}

.section1 h2{
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    
}
 .section1 p {
    font-size: 20px;
    padding: 20px;
    width: fit-content;
    position:relative;
    text-align: justify;
 }

 .section1 h3{
    text-align: center;
    font-size: 35px;
    text-decoration: none;
       
    
 }
#myVideo {
    position: fixed ;
    right: 0;
    bottom: 0;
    min-width: 80%; 
    min-height: 80%;
  }
  

.titulo{
    text-align: center;
    font-size: 3em;
    margin: 1em;

}

.preguntas-section{
    padding: 4em 2em;

}

.preg{
    list-style: none;
    max-width: 700px;
    margin: 0 auto;

}

.preg li{
    background: #848381;
    border-bottom: 1px #ccc solid;

}

.preg li:first-child {
    border-bottom: 1px #ccc solid;
  
}

.preg{
    padding: 1em 0;
    border-left: 10px var(--fondo) solid;
    cursor: pointer;
}

.preg:hover,
.preg:hover .arrow {
    border-left-color: #be9b70 ;

}
.arrow {
   display: inline-block;
   margin: 0 0.5em;
   width: 0;
   height: 0;
   border-top: 6px solid transparent;
   border-left: 10 px solid #555;
   border-bottom: 6px solid transparent;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;

}
.preguntasfreq .p {
  color: #dfdacf;
line-height: 25px;

}
.a {
    overflow: hidden;
    height: 0;
    padding: 0 1em 0 3.3em ;

}
.a -opened {
    padding: 1em 1em 2em 3.3em;
    height: initial;
}
.arrow-rotated {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.grid .footer {
    background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 18px;    
    grid-area: footer;
    display: inline-flex;
    bottom: 0;
    position: 0;
}

.grid .footer #imgFooter {
    float: left;
    width: auto;
    height: 140px;
    margin-right: 50px;
}

.grid .footer #nuestrosDatos ul {
    display: inline;
}

.grid .footer #nuestrosDatos ul li {
    display: block;
}

.grid .footer #redes {
    display: inline;
    text-align: center;
    width: 400px;
    margin-top: 30px;
    margin-right: 50px;
}

.grid .footer #redes img {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.grid .footer #redes p {
    display: inline-block;
          
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 450px 450px 450px ;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "conten conten conten"
                         "aside1 aside1 aside1"
                         "info info info"
                         "footer footer footer";
}
