@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    width: 100%;
}

header {
    width: 100%;
    height: 2em;
    background-color: var(--subtitulos);
    position: fixed;
}

header nav{
    height: 3em;

}

header ul{
    display: block;
    text-align: center;
}

header ul li{
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: var(--fondo);
    align-content: center;
    padding-right: 2em;
    /* font-family: 'Comfortaa', cursive; */
}

#contenidoPrincipal {
    padding-top: 3.5em;
    display: flex;
    margin: 1em;
}

#contenidoPrincipal img {
    display: flex;
}

#contenidoPrincipal h1 {
    display: inline-block;
          
}