@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 46px;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header ul {
    display: inline;
    height: 44px;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 20px;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 11px;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}


.grid .header {
    grid-area: header;
    display: inline;
}

.grid .header img {
    width: 150px;
    float: left;
    padding-left: 80px;
}

.grid .header h1 {
    font-size: xx-large;
    color: var(--titulos);
    width: 150px;
    float: right;
    padding-top: 10px;
    padding-right: 120px;
}

.grid .conten {
    background-color: #000;
    grid-area: conten;
    box-shadow: 5px 5px 40px 30px var(--parrafos), inset 0px 2px #261908;
}

.grid .conten ul {
    list-style: none;
    display: grid;
    column-gap: 1px;
    grid-template-columns: repeat(3, 33%);
    width: fit-content;
    padding: 10px;
    margin-left: 0px;
}

.grid .conten ul .box1, .box7 {
    background-color: var(--hover);
    font-size: 20px;
    color: var(--parrafos);
    width: fit-content;
    height: fit-content;
    padding: 22px;
}

.grid .conten ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid .conten ul .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid .conten ul .box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

/* .grid .conten table {
    background-color: #000;
    font-size: 18px;
    table-layout: fixed;
    padding: 15px;
}

.grid .conten td {
    text-align: center;
}

.grid .conten .texto{
    padding: 20px;
    background-color: var(--hover);
    color: var(--parrafos);
}

.grid .conten td img {
    overflow: hidden;
} */

.grid .aside1 {
    grid-area: aside1;
    text-align: center;
    padding: 10px 50px;
}
 .grid .aside1 p {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 50px;
    width: fit-content;
 }

.grid .info {
    grid-area: info;
}

.grid .aside2 {
    grid-area: aside2;
}

footer {
    background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 18px;
    display: inline-flex;
    padding: 4px 0px;
    align-items: center;
}

footer #imgFooter {
    float: left;
    width: auto;
    height: 140px;
    margin-right: 50px;
}

footer #nuestrosDatos ul {
    display: inline;
    padding: 0px;
}

footer #nuestrosDatos ul li {
    display: block;
}

footer #nuestrosDatos .horarios > li {
    padding-left: 1.5em;
    font-size: 1em;
}

footer #nuestrosDatos ul li a {
    text-decoration: none;
    color: var(--hover);
}

footer #redes {
    display: inline;
    text-align: center;
    width: 400px;
    margin-right: 50px;
}

footer #redes img {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer #redes p {
    display: inline-block;
}
.grid {
    width: 1280px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5);
    grid-template-areas: "header header header"
        "conten conten conten"
        "aside1 aside1 aside1"
        "info info info"
        "aside2 aside2 aside2";
    margin: auto;
}

*.,*: :after,*: :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color:var(--hover);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    z-index: 10000;
}

#carga {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
