@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
}

*{
    width: 100%;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 45px;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0;
}

header ul {
    display: inline;
    height: 44px;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 11px;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}


.grid .header{
    background-color: orange;
    grid-area: header;
    display: grid;
    place-content: center;
}

.grid .header img{
    width: 150px;
    text-align: center;
}

.grid .conten{
    background-color: white;
    grid-area: conten;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
}

.grid .conten .producto {
    border: 2px solid #000;
    width: 200px;
    height: 300px;
}

.grid .conten .producto img{
    width: 100%;
    height: 100px;
}

.grid .conten .producto h4{
    color: var(--subtitulos);
    font-family: 'Comfortaa', cursive;
}

.grid .aside1{
    background-color: greenyellow;
    grid-area: aside1;
}

.grid .aside2{
    background-color: blue;
    grid-area: aside2;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}

.grid .footer{
    background-color: green;
    grid-area: footer;
    display: inline-flex;
}

.grid .footer img{
    float: left;
}

.grid .footer #nuestrosDatos ul{
    display: inline;
}

.grid .footer #nuestrosDatos ul li{
    display: block;
}

.grid .footer #redes ul{
   display: inline;
}

.grid .footer #redes ul li{
    display: inline-block;
    text-align: center;
}

.grid .footer #redes ul li img{
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.grid .footer #redes p{
    display: block;
    text-align: center;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5);
    grid-template-areas: "header conten conten conten conten"
                         "aside1 conten conten conten conten"
                         "aside1 conten conten conten conten"
                         "aside1 conten conten conten conten"
                         "aside2 aside2 aside2 aside2 aside2"
                         "footer footer footer footer footer";
}