@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
    margin: 0px;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 55px;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

header ul {
    display: inline;
    height: 44px;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 20px;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 11px;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}


.grid .header{
    background-color: orange;
    grid-area: header;
    display: grid;
    place-content: center;
}

.grid .header img{
    width: 150px;
    text-align: center;
}

.grid .conten{
    grid-area: conten;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
}

.grid .conten .producto {
    border: 1px solid var(--titulos);
    width: 200px;
    height: 300px;
    text-align: center;
    overflow: hidden;
    background-color: var(--hover);
    display: block;
}

.grid .conten .producto img{
    width: fit-content;
    height: 150px;
    overflow-x: hidden;
    object-position: center;
    padding: 3% 0px;
}

.grid .conten .producto h4{
    color: var(--subtitulos);
    font-family: 'Comfortaa', cursive;
    padding-bottom: 3%;
}

.grid .conten .producto p {
    padding-bottom: 6%;
}

.grid .conten .producto .precio {
    color: var(--hover);
    font-weight: bolder;
    padding: 10px 0px;
    object-position: bottom;
    position: 0px;
    background-color: var(--parrafos);
    border: 1px solid var(--subtitulos);
}

.grid .aside1{
    background-color: greenyellow;
    grid-area: aside1;
}

.grid .aside2{
    grid-area: aside2;
    font-size: x-large;
    text-align: center;
    padding: 20px 0px;
    margin: 10px 0px;
    background-color: #C8AE7D;
    box-shadow: 5px 5px 40px 30px var(--parrafos), inset 0px 2px #261908;
}

.grid .footer {
    background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 18px;    
    grid-area: footer;
    display: inline-flex;
    bottom: 0;
    position: 0;
}

.grid .footer #imgFooter {
    float: left;
    width: auto;
    height: 140px;
    margin-right: 50px;
}

.grid .footer #nuestrosDatos ul {
    display: inline;
}

.grid .footer #nuestrosDatos ul li {
    display: block;
}

.grid .footer #redes {
    display: inline;
    text-align: center;
    width: 400px;
    margin-top: 30px;
    margin-right: 50px;
}

.grid .footer #redes img {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.grid .footer #redes p {
    display: inline-block;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5);
    grid-template-areas: "header conten conten conten conten"
                         "aside1 conten conten conten conten"
                         "aside1 conten conten conten conten"
                         "aside1 conten conten conten conten"
                         "aside2 aside2 aside2 aside2 aside2"
                         "footer footer footer footer footer";
}